
@charset "utf-8";

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(#1b75ff, #7b00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img {
    width:1200px;
    height:1000px;
    border: solid 4px #7b00ff;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url(..\image\ondes.png) center;
}

.img2 {
    background-image: url(..\image\spectre_audio.png) center;
}

.img3 {
    background-image: url(..\image\MFCC.png) center;
}

.img4 {
    background-image: url(..\image\spectrogram.png) center;
}