
@charset "utf-8";

* {
    box-sizing: border-box;
    background-color: #ffffff;
}    

body, html {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(#1b75ff, #7b00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.image-grid {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);

    align-items: center;
    justify-content: center;
}

.imgtop {
    margin-bottom: 30px;
}