
@charset "utf-8";

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img {
    width:1200px;
    height:1000px;
    border: solid 4px rgb(0, 255, 255);
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url(..\image\ondes.png) center;
}

.img2 {
    background-image: url(..\image\spectre_audio.png) center;
}

.img3 {
    background-image: url(..\image\MFCC.png) center;
}

.img4 {
    background-image: url(..\image\spectrogram.png) center;
}